<!DOCTYPE html>
<html>
<head>
	<title>{{ "Reply to your contact request"|trans({},'contact') }}</title>
</head>
<body>
	<div class="container">
		<h4>{{ "Reply to your contact request"|trans({},'contact') }}</h4>
		<p>{{ reply_contact.message|nl2br }}</p>
	</div>
</body>
</html>