{% extends '::base.html.twig' %}

{% block title %}{% trans from "management" %}Management{% endtrans %}{% endblock %}

	{% block pageTitleText %}{% trans from "management" %}Management{% endtrans %}{% endblock %}

		{% block body %}

			{{ parent() }}

			<div class="container">
				<div class="row">
					{{ include('ManagementBundle:Partials:sidebar.html.twig') }}
					<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-0 main" id="sortable-container">

						{% for item in sort_order %}
							{% include 'ManagementBundle:Default:'~item~'.html.twig' %}	
						{% endfor %}
						
						{# {% include 'ManagementBundle:Default:latest_user_registration.html.twig' %}
						{% include 'ManagementBundle:Default:latest_visits.html.twig' %}
						{% include 'ManagementBundle:Default:latest_properties.html.twig' %}
						{% include 'ManagementBundle:Default:fees.html.twig' %} #}

					</div>
				</div>
			</div>

		{% endblock %}

		{% block stylesheets %}
			{{ parent() }}
		{% endblock %}	
		{% block javascripts %}
			{{ parent() }}
			<script type="text/javascript">
				$( function() {
				    $( "#sortable-container" ).sortable({
				    	axis: 'y',
				    	containment: '#sortable-container',
				    	handle: '[role=handle]',
				    	items: '> [role=sortable-item]',
				    	update: function(event, ui){
				    		sort_order = {};
				    		$('#sortable-container [role=sortable-item]').each(function(index){
								var id = $(this).attr('id');
								sort_order[id] = index+1;
							});
				    		$.post(
				    			Routing.generate('management_default_updatesortorder'),
				    			{'sort_order': sort_order}
				    		)
				    		.done(function(data){
				    			$('#sortable-container').prepend('<span class="message message-success hide-again">Sort changes have been saved to server!</span>');
				    			setTimeout(function(){
					              $('.hide-again').remove();
					            }, 5000);
				    		})
				    		.fail(function(xhrObject){
				    			var data = xhrObject.responseJSON;
				    			$('#sortable-container').prepend('<span class="message message-error hide-again">Error: '+data.msg+'</span>');
				    			setTimeout(function(){
					              $('.hide-again').remove();
					            }, 5000);
				    		});
				    	}
				    });
				    $( "#sortable-container" ).disableSelection();
				});
				var sort_order = {};
				$('#sortable-container [role=sortable-item]').each(function(index){
					var id = $(this).attr('id');
					sort_order[id] = index+1;
				});
			</script>
		{% endblock %}