.form_add_item_link{
	color: #000;
	float: right;
	text-decoration: underline;
}
.form_add_item_link:hover{
	color: #999;
}
div.form-group div.radio{
	display: inline-block;
	margin-right: 10px;
}
.form_image{
	vertical-align: bottom;
	width: 80px;
}
.form_image_remove{
	color: #000;
	margin-left: 10px;
	text-decoration: underline;
}
form div.form-group button.btn-default[type=submit]{
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}
button[btn=buttons]{
	margin-right: 5px;
}
.cancel-btn{
	height: 30px;
	padding-top: 4px;
	position: relative;
	top: 2px;
}
div.action-buttons{
	margin-top: 5px;
	text-align: right;
}
form span.help{
	display: block;
    position: relative;
    top: -10px;
}
.btn.btn-add{
	float: right;
	margin-left: 5px;
}
.twitter-typeahead{
	width: 100%;
}