.form_add_item_link{
	color: #000;
	float: right;
	text-decoration: underline;
}
.form_add_item_link:hover{
	color: #999;
}
div.form-group div.radio{
	display: inline-block;
	margin-right: 10px;
}
.form_image{
	vertical-align: bottom;
	width: 80px;
}
.form_image_remove{
	color: #000;
	margin-left: 10px;
	text-decoration: underline;
}
form div.form-group button.btn-default[type=submit]{
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}