html,
body,
div.body{
	height: 100%;
}
body{
	position: absolute;
	width: 100%;
}
div.body{
	height: auto;
	min-height: 100%;
	padding-bottom: 142px;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 20px;
}
.pageTitle{
	background-color: #FF5858;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	color: #fff;
	margin-bottom: 20px;
	padding: 7px 0 0 0;
}
.pageTitle h2{
	font-size: 24px;
}
#wo-breadcrumbs{
	float: right;
	margin-top: -26px;
	margin-bottom: 0;
}
#wo-breadcrumbs a{
	color: #fff;
}
.breadcrumb{
	background-color: #FF5858;
	color: #fff;
}
.breadcrumb > li + li::before{
	content: "";
	padding: 0;
}
.breadcrumb .separator{
	padding: 0 4px;
}
a,
a:hover,
a:visited{
	color: #000;
}
footer a,
footer a:hover,
footer a:visited{
	color: #fff;
}
.row.row-underline {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 4px;
    padding: 5px 0;
}
footer{
	clear: both;
	margin-top: -137px;
	position: relative;
}