table.table th{
	white-space: nowrap;
}
span.legend-success{
	background-color: #BCED91;
}
span.legend-danger{
	background-color: #ff6961;
}
span.legend-warning{
	background-color: #f0ad4e;
}
div.legend{
	float: right;
}
div.legend span.legend{
	display: inline-block;
    margin-right: 0;
    padding: 4px 10px;
    width: auto;
}
div.legend span.title{
	font-weight: bold;
}
td.actions{
	white-space: nowrap;
}
table.table td.status span{
	border-radius: 5px;
	color: #000;
	padding: 4px 8px;
}
table.table td.status.status-success span{
	background-color: #BCED91;
}
table.table td.status.status-success span{
	background-color: #BCED91;
}
table.table td.status.status-success span{
	background-color: #BCED91;
}