fieldset{
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
}
legend{
	border: 1px solid #ccc;
	margin-top: 18px;
	text-transform: uppercase;
	padding: 0 10px;
}
#profile_Properties > .form-group{
	margin-left: 20px;
}