img.profileImage{
	max-width: 270px;
}
span.list-label{
	font-weight: bold;
}
.row.row-underline::before {
	content: "\25A3";
	position: relative;
	top: 58px;
	left: -3px;
	color: #ccc;
	font-size: 1.2em;
}