{% extends '::base.html.twig' %}

{% block title %}El SPG - Red agroecológica Alpujarra/Costa{% endblock %}
{% block pageTitleText %}El SPG - Red agroecológica Alpujarra/Costa{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				El SPG ofrece una certificación ecológica alternativa a la convencional, apoyándose en la participación de quienes producen y consumen productos agroecológicos, artesanales y sostenibles hechos localmente. A través de este sistema, las personas que se dedican a la agricultura y la artesanía, las asociaciones de consumo, las tiendas locales y particulares en general se benefician de un proyecto que busca un cambio en los actuales modelos de producción, consumo y distribución, basado en la confianza y la participación.
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}