{% extends '::base.html.twig' %}

{% block title %}Política de Cookies{% endblock %}
{% block pageTitleText %}Política de Cookies{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h5>Sumario</h5>

    			<ul>
    				<li><strong>Cookies usadas:</strong> Propias y de Terceros</li>
    				<li><strong>¿Se usan para obtener estadísticas?</strong> Sí</li>
    				<li><strong>¿Se usan para publicidad?</strong> No</li>
    				<li><strong>Servicios de terceros que instalan cookies a través de esta web:</strong> Ninguno</li>
    			</ul>

				<h5>Cómo configurar y deshabilitar las cookies</h5>

				<h5>Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo desde tu navegador web. Si no permites la instalación de cookies en tu dispositivo, puede que la experiencia de navegación empeore. A continuación puedes encontrar cómo configurar las cookies en cada navegador:</h5>

				<ul>
					<li><a href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq" target="_blank">Edge</a></li>
					<li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
					<li><a href="https://support.google.com/chrome/answer/2392971?hl=es" target="_blank">Google Android</a></li>
					<li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies" target="_blank">Internet Explorer 7 y 8</a></li>
					<li><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">Internet Explorer 9</a></li>
					<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-10" target="_blank">Internet Explorer 10</a></li>
					<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank">Internet Explorer 11</a></li>
					<li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">Mozilla Firefox</a></li>
					<li><a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html" target="_blank">Opera</a></li>
					<li><a href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&amp;locale=es_ES" target="_blank">Safari</a></li>
					<li><a href="https://support.apple.com/es-es/HT201265" target="_blank">Safari Mobile</a></li>
				</ul>

				<h5>Tipos y usos</h5>

				<p>RAAC usa cookies propias y de terceros para mejorar la navegación, proporcionar el servicio y obtener estadísticas sobre el uso de la página web.</p>

				<h5>¿Qué es una cookie y para qué sirve?</h5>

				<p>Una cookie es un fichero de texto que se envía al navegador web de tu ordenador, móvil o tablet y que sirve para almacenar y recuperar información sobre la navegación realizada. Por ejemplo recordar tu nombre de usuario y contraseña o el idioma en el que quieres consultar la web.</p>

				<h5>¿Qué tipos de cookies hay?</h5>

				<p>Según quién las gestiona:</p>

    			<p>Cookies propias; se envían a tu navegador desde nuestros equipos o dominios web.</p>

    			<p>Cookies de terceros; se envían a tu navegador desde un equipo o dominio web que no gestionamos nosotros directamente, sino una tercera entidad como por ejemplo Google.</p>

				<p>En función del tiempo que están activas, hay:</p>

    			<p>Cookies de sesión; permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, de modo que ninguna queda en tu dispositivo.</p>

    			<p>Cookies persistentes; permanecen en tu dispositivo y nuestra web las lee cada vez que realizas una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.</p>

				<p>Finalmente, y según su finalidad, tenemos:</p>

    			<p>Cookies técnicas; mejoran la navegación y el buen funcionamiento de la web.</p>

    			<p>Cookies de personalización; permiten acceder al servicio con unas características predefinidas en función de una serie de criterios.</p>

    			<p>Cookies de análisis; permiten medir y analizar estadísticamente el uso que se hace del servicio prestado.</p>

				<p>Cookies usadas por RAAC:</p>
				
				<table class="table">
					<thead>
						<th>Nombre</th>
						<th>Origen</th>
						<th>Finalidad</th>
						<th>Tipo</th>
						<th>Caducidad</th>
					</thead>
					<tbody>
						<tr>
							<td>PHPSESSID</td>
							<td>raac.es</td>
							<td>Técnica</td>
							<td>Propia</td>
							<td>Sesión</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}