{% extends '::base.html.twig' %}

{% block title %}Legal{% endblock %}
{% block pageTitleText %}Legal{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h5>Sumario</h5>

			    <ul>
			    	<li><strong>Responsable de la web:</strong> Red Agroecológica Alpujarra/Costa</li>
			    	<li><strong>Propiedad intelectual:</strong> el contenido del sitio está bajo licencia CC BY-SA 4.0</li>
			    	<li><strong>Datos recopilados:</strong> Mediante el uso de la web, comentarios y consultas realizadas</li>
			    	<li><strong>Mail de contacto:</strong> <a href="mailto:hola@raac.es">hola@raac.es</a></li>
			    </ul>

				<h5>1.- Titularidad</h5>

				<p>El responsable de esta web es: Red Agroecológica Alpujarra/Costa (en adelante “RAAC”), compuesta por "Servidas en Red", asociación que está debidamente inscrita en el Registro Mercantil de Granada, al Tomo xx.yyy, Folio zzz, Sección w, Hoja G-123456, Inscripción 1º, "La Colmena", asociación que está debidamente inscrita en el Registro Mercantil de Granada, al Tomo xx.yyy, Folio zzz, Sección w, Hoja G-123456, Inscripción 1º y "Costa Granadina", , asociación que está debidamente inscrita en el Registro Mercantil de Granada, al Tomo xx.yyy, Folio zzz, Sección w, Hoja G-123456, Inscripción 1º.</p>

				<p>Correo electrónico: <a href="mailto:hola@raac.es">hola@raac.es</a></p>

				<p>El uso de la web atribuye la condición de usuario, y con ello aceptas los términos y condiciones a continuación indicados.</p>

				<h5>2.- Enlaces externos</h5>

				<p>Puede que la web de RAAC enlace hacia otros sitios web.</p>

				<p>Sin embargo, RAAC no ejerce ningún tipo de control sobre dichos sitios ni sus contenidos, que en realidad están sujetos a sus propios términos y condiciones. Tampoco asume asociación o responsabilidad alguna por los mismos, ni garantiza su disponibilidad técnica, calidad, fiabilidad, exactitud o veracidad.</p>

				<h5>3.- Propiedad Intelectual e Industrial</h5>

				<p>RAAC es titular o licenciatario de todos los derechos de propiedad intelectual e industrial de su web, así como de los elementos contenidos en la misma.</p>

				<p>Por ello, queda expresamente prohibida la reproducción, distribución, comunicación pública y transformación de la totalidad o parte de los contenidos de esta web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de RAAC.</p>

				<p>En cualquier caso, los contenidos del blog están sujetos a una licencia <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Reconocimiento – Compartir Igual – 4.0.</a></p>

				<h5>4.- Protección de datos</h5>

				<p>RAAC cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal y su normativa de desarrollo.</p>

				<p>En ese sentido, garantiza un correcto uso y tratamiento de los datos personales que recopila del usuario, principalmente a través de los comentarios, los mails de contacto y los datos automáticamente recopilados, como la IP. Esos datos se tratan únicamente a efectos de control estadístico, prestación del servicio solicitado y respuesta a las consultas realizadas.</p>

				<p>El usuario puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición sobre sus datos personales mediante correo postal en la dirección postal del grupo en el cual has sido dado de alta o mediante correo electrónico en: <a href="mailto:hola@raac.es">hola@raac.es</a></p>

				<p>Para ello debe indicar nombre, apellidos, además de su fotocopia de DNI.</p>

				<p><a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/principales_derchos/index-ides-idphp.php">Aquí</a> pueden encontrarse los modelos para ello.</p>

				<h5>5.- Responsabilidad</h5>

				<p>Hasta donde la ley lo permita, RAAC no se hace responsable de: a) los errores u omisiones en los contenidos; b) la falta de disponibilidad de la web o; c) la transmisión de programas maliciosos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>

				<h5>6.- Modificaciones</h5>

				<p>RAAC se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados.</p>

				<p>Por otro lado, los presentes términos y condiciones podrán cambiar en cualquier momento. Las modificaciones entrarán en vigor desde el momento de su publicación.</p>

				<h5>7.- Cookies</h5>

				<p>Consulta nuestra <a href="{{ path('app_default_cookies') }}">Política de Cookies</a> para conocer el uso que hacemos de ellas.</p>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block javascripts %}
	{{ parent() }}
{% endblock %}